/* Contenedor principal del perfil */
#formPerfil {
    background-color: #fff;
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Títulos */
.main-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de campos de entrada */
#formPerfil label {
    padding: 30px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    color: #333;
}

#formPerfil input[type="text"],
#formPerfil input[type="email"],
#formPerfil input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px; /* Más espacio entre campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
    transition: border-color 0.3s ease; /* Efecto al enfocar */
}

#formPerfil input[type="text"]:focus,
#formPerfil input[type="email"]:focus,
#formPerfil input[type="password"]:focus {
    border-color: #ffcc00;
    outline: none;
}

/* Botón */
#formPerfil button {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    padding: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.1rem;
    transition: background-color 0.3s ease; /* Transición más suave */
}

#formPerfil button:hover {
    background-color: #e6b800;
}

/* Contenedor de mensajes */
#contentContainer p {
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
}

/* Mensajes de éxito y error */
#mensajeExito {
    color: #4CAF50;
    font-weight: bold;
}

#mensajeError {
    color: #F44336;
    font-weight: bold;
}

/* Fieldsets */
fieldset { 
    border: 2px solid #f0f0f0;
    padding: 30px;  /* Más espacio dentro del fieldset */
    margin-bottom: 40px;  /* Más espacio entre fieldsets */
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}  

legend {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0 15px;
    color: #333;
}
